<launch>
 <node pkg="spacenav_node" type="spacenav_node" name="$(anon spacenav_node)" output="screen">
  <remap from="spacenav/twist" to="cmd_vel" />
  <rosparam param="linear_scale">[10.0, 10.0, 5.0]</rosparam>
  <rosparam param="angular_scale">[0, 0, 0]</rosparam>
 </node>
 <node pkg="swiftpro" type="swiftpro_write_node" name="$(anon swiftpro)" output="screen" />
</launch>